* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: grey
}

.container{
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 10px;
    transform: translate(-50%, -50%);
    border-radius: 10%;
    background-color: darkblue;
     width: 500px;
    
}


.star {
    display: inline-block;
    border-radius: 50%;
    padding: 15px;
    background-color: rgb(59, 59, 235);
}



.card {
    font-size: 15px;
    

}

.star, .first-h1, .card, .list-item, .submit-btn, .text {
    margin: 15px;
    color: white;
}


#first-item{
    margin-left: 63px;
}

.list-item{
    display: inline-block;
    padding: 20px;
    border-radius: 50%;
    background-color: rgb(59, 59, 235);
    text-decoration: none;
    border: none;
}

.list-item:hover {
    background-color: orange;

}

.list-item:focus{
    background-color: grey;
}


.submit-btn {
    display: block;
    margin: 0 auto;
    width: 78%;
    border-radius: 30px;
    padding: 15px;
    background-color: orange;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
    border: none;
    text-decoration: none;
    
}

.submit-btn:hover,a{
background-color: white;
color: orange;
text-decoration: none;
}

/*                   SEGUNDO CARD                                 */



.container2{
    width: 500px;
    background-color: rgb(31, 31, 150);
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    height: 378px;
    transform: translate(-50%, -50%);
    border-radius: 10%;
    padding: 10px;
    
}

.imagem {
    margin: auto;
    display: block;
    
}

.selected{
 display: block;
 border: 1px solid red;
 width: 30%;
 margin: auto;
 text-align: center;
 
 
}

.second-h1{
    text-align: center;
    text-transform: uppercase;
}

.text{
    text-align: center;
}

.imagem, .selected, .second-h1, .text{
    padding: 10px;
}

