*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%) );
    
}

.main_container{
    width: 100vw;
    height: 100vh;
    position: relative;
}

.card{
    background: white;
    border-radius: 30px;
    position: absolute;
    border: 1px solid purple;
    width: 63%;
    left: 51%;
    top: 43%;
    transform: translate(-50%, -50%);
    padding: 30px;
   
}

/* .img{
    width: 50%;
    margin-right: 30px;
    position: relative;
    border: 1px solid slateblue;
    display: inline-block;
    margin-top: 25px;
   
} */

.imagem{
    position: absolute;
    
}
.box{
position: absolute;

left: 15px;

   
}

.title{
    font-size: 3rem;
    text-transform: uppercase;
}

.accordion_content{
    position: absolute;
    display: inline-block;
    top: 14%;
    width: 40%;
    right: 15px;
    
}

.accordion{
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    font-size: 20px;
    border-bottom: solid 1px gray;
    padding: 15px;
    font-weight: 400;
    color:  hsl(237, 12%, 33%);
    display: inline-block;
    
}

.answer_panel{
    display: none;
    font-size: 1.0rem;
    padding: 0 18px;

}

.question_answer{
    width: 350px;
    border-bottom: #e8e8ea;
}

.arrow{
    float: right;
}








